.App {
    align-items: center;
    background: transparent;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
}
.Header-Arrow {
    height: 20px;
    margin-bottom: -10px;
    margin-top: 10px;
    width: 20px;
    transform: rotate(45deg);
    background-color: #2c3e50; 
}
.Box{
    align-items: center;
    background-color: #2c3e50; 
    border-radius: 5px;
    color: white;
    display: flex;
    height: 300px;
    justify-content: center;
    padding: 20px;
    width: 100%;
}
.Box p{
    font-size: small;
    text-align: center;
}