.App {
    align-items: center;
    background: transparent;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
}
.Header,
.Footer{
    align-items: center;
    background: var(--bgSecondaryColor);
    border-radius: 5px 5px 0px 0px;
    display: flex; 
    height: 30px;
    font-size: small;
    justify-content: center;
    padding: 10px;
    width: 100%;
    z-index: 1;
}
.Footer{
    border-bottom: 0px;
    border-radius: 0px 0px 5px 5px;
}
.Header-Arrow {
    background-color: #f6f7f8;
    border-radius: 3px 0px 0px 0px;
    height: 20px;
    margin-bottom: -10px;
    margin-top: 10px;
    width: 20px;
    transform: rotate(45deg);
}
.Box{
    align-items: center;
    background-color: white; 
    display: flex;
    height: 200px;
    justify-content: center;
    padding: 20px;
    width: 100%;
}
.Box .Waiting{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Box .Waiting img{
    height: 60px;
    width: 60px;
}
.Box .Completed{
    display: flex;
    width: 100%;
}
.Box .Completed .Title-Description{
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    width: 100%;
}
.Box .Completed .Title{
    font-size: small; 
    width: 100%;
}
.Box .Completed .Description{
    color: var(--secondaryFontColor);
    font-size: x-small;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.Box .Completed img{
    border-radius: 5px;
    height: 30px;
    margin-right: 5px;
    width: 30px;
}
.Box p{
    font-size: small;
    text-align: center;
}
.Color{
    border-radius: 50%;
    height: 5px;
    margin: 5px;
    width: 5px;
}
.Color.Green{
    background: #5fba7d;
}
.Color.Yellow{
    background: #ffb347;
}
.Color.Red{
    background: #ff6961;
}